.TshirtContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0px;
    background-image: url(Preto.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid;
}

.previewContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 26%;
    height: 53%;
    aspect-ratio: 29/42;
    border: 0px dashed white;
    box-sizing: content-box;
    overflow: hidden;
}

.TshirtContainer.Zoom {
    background-size: 192%;
    background-position-y: 53%;
}

.previewContainer.Zoom {
    top: 23.5%;
    transform: scale(1.88);
}

.TextPreview {
    position: relative;
    font-size: 110px;
    font-weight: 700;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url(https://img.staticmb.com/mbcontent/images/uploads/2022/12/diamond-wallpaper.jpg);
    background-size: contain;
    filter: drop-shadow(0px 0px 4px white);
}

.PreviwLayout {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    bottom: 1%;
    left: 1%;
}

.ZoomBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    background: white;
    border-radius: 20px;
    margin: 0px;
    padding: 10px;
    border: 4px solid black;
    color: black;
}

.ZoomBtn.selected {
    display: none;
}

.PreviwLayout svg {
    height: 100%;
}

.OptionCustomization {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.OptionCustom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 55px;
    padding: 0px 30px;
    margin: 40px 0px;
    font-family: sans-serif;
    font-weight: 700;
    border: 6px solid black;
    border-radius: 50px;
    background: white;
    transition: box-shadow, border .3s;
}

.OptionCustom.selected {
    border: 2px solid red;
    box-shadow: 0px 0px 20px red;
}

.CustumizationContainer {
    display: none;
}

.CustumizationContainer.selected {
    display: block;
}

.CustumizationContainer svg {
    height: 100%;
}

.InputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    max-width: 100%;
    border: 6px solid black;
    border-radius: 40px;
    padding: 10px;
}

.UploadImageLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.UploadImageLabel p {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
    margin: 0 10px;
}

.UploadImageLabel svg {
    height: 80%;
}

.PreviewImg {
    position: absolute;
    height: 35%;
    border: 2px solid transparent;
    transform: scale(1);
    user-select: none;
}

.PreviewImg.selected {
    border-color: #ff000082;
}

.IconsContainer {
    display: none;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.imgIconsContainer {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    padding: 0px 10px;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.ImageIcon {
    max-height: 100%;
    aspect-ratio: 1/1;
    border: 2px solid transparent;
    object-fit: cover;
}

.ImageIcon.selected {
    border-color: #ff000082;
}

.clearIconContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 25%;
    align-items: center;
}

.clearIconContainer svg {
    height: 90%;
}

.ImgControls {
    display: none;
}

.BtnsControlsImgContainer {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    margin: 30px 0px 0px;
}

.BtnsChooseControlsImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 55px;
    padding: 0px 30px;
    margin: 0px 10px 20px;
    font-family: sans-serif;
    font-weight: 700;
    border: 6px solid black;
    border-radius: 50px;
    background: white;
    transition: box-shadow, border .3s;
}

.BtnsChooseControlsImg.selected {
    border: 2px solid red;
    box-shadow: 0px 0px 20px red;
}

input[type="range"] {
    height: 100px;
    -webkit-appearance: none;
    width: 100%;
    background: none;
    touch-action: none;
}

input[type="range"]:focus {
    outline: none;
}
  
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #FF5757;
    border-radius: 3px;
    border: 3px solid #FF5757;
}
  
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 3px solid #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background: #FF5757;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -22px;
}

.ControlImgContainer {
    display: none;
}

.ControlImgContainer.selected {
    display: flex;
    flex-direction: column;
}

.ControlImgContainer button {
    cursor: pointer;
}

.ControlImgContainer svg {
    height: 100%;
}

.ControlImgContainer.Position.selected {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 65px 0px 0px;
}

.PositionBtns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.PositionBtns button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    aspect-ratio: 1/1;
    background: white;
    margin: -20px 55px;
    border: 0px solid black;
    border-radius: 80px;
    transition: box-shadow 0.5s;
}

.LayerControls {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.LayerControls button {
    display: flex;
    height: 120px;
    width: 260px;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: sans-serif;
    background: white;
    border: 1px solid black;
    border-radius: 25px;
    margin: 18px 0px;
    padding-left: 8px;
}

.BtnsSizeContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 0px 70px;
}

.BtnsSizeContainer button {
    display: flex;
    height: 150px;
    width: 150px;
    background: white;
    border: 6px solid black;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    transition: box-shadow 0.5s;
}

.BtnsImgEffectContainer {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    margin: 30px 0px 0px;
}

.BtnImgEffect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 55px;
    padding: 0px 30px;
    margin: 0px 10px 20px;
    font-family: sans-serif;
    font-weight: 700;
    border: 6px solid black;
    border-radius: 50px;
    background: white;
    transition: box-shadow, border .3s;
}

.BtnImgEffect.selected {
    border: 2px solid red;
    box-shadow: 0px 0px 20px red;
}

.ImgEffect {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px;
}

.ImgEffect.selected {
    display: flex;
}

.ImgEffect p {
    font-size: 45px;
    text-transform: uppercase;
    margin: 0px 0px 50px;
}

.ImgEffect.Shadow {
    margin: 100px 0px 0px;
} 

.ImgEffect.Gradient {
    flex-direction: row;
}

.ImgGradient {
    height: 150px;
    aspect-ratio: 1/1;
    background: black;
    padding: 10px;
    border: 5px solid #5b5b5b;
    border-radius: 20px;
    margin: 0px 20px;
}

.ImgGradient.With {
    -webkit-mask-image: linear-gradient(to top, transparent 15%, black 80%);
}

input[type="text"] {
    width: 100%;
    height: 100px;
    font-size: 75px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    border: 6px solid black;
    border-radius: 20px;
    padding: 0px 30px;
    margin: 0px 0px 40px;
    box-shadow: 0px 0px 0px transparent;
}

.input[type="text"]:active {
    box-shadow: 0px 0px 20px red;
}

.BtnsOptionTextContainer {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    margin: 10px 0px 0px;
}

.btnOptionText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 55px;
    padding: 0px 30px;
    margin: 0px 10px 20px;
    font-family: sans-serif;
    font-weight: 700;
    border: 6px solid black;
    border-radius: 50px;
    background: white;
    transition: box-shadow, border .3s;
}

.btnOptionText.selected {
    border: 2px solid red;
    box-shadow: 0px 0px 20px red;
}

.OptionTextContainer {
    display: none;
}

.OptionTextContainer.selected {
    display: flex;
    flex-direction: column;
}

.PositionTextBtns {
    display: flex;
    align-items: center;
    margin: 60px 0px 70px;
    justify-content: center;
}

.PositionTextBtns button {
    display: flex;
    height: 150px;
    width: 150px;
    background: white;
    border: 6px solid black;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin: 0px 50px;
    transition: box-shadow 0.5s;
}

.BackgroundTextEffect {
    display: -webkit-inline-box;
    width: 100%;
    padding: 60px 0px 20px;
    overflow-x: scroll;
}

.btnBackgroundText {
    height: 150px;
    width: 150px;
    border: 6px solid black;
    border-radius: 40px;
    margin: 0px 20px;
}

.btnBackgroundText.selected {
    border: 6px solid red;
    box-shadow: 0px 0px 15px black;
}